.row{
    background-image: url({{https://hips.hearstapps.com/del.h-cdn.co/assets/17/16/2048x1024/landscape-1492694005-108-sein-9781101967140-art-r1-1.jpg?resize=640:*}});
    background-repeat: no-repeat;
    background-size: cover;
  }

  