{%extends 'base.html'%}
{%block title_block%}
<title>todo-list</title>
{%endblock%}

{%block body_block%}
<div class="container">
    <table class="table table-striped mt-3">
        <tr>
            <th>ID</th>
            <th>Task Name</th>
            <th>User</th>
            <th>Status</th>
            <th>Created Date</th>
        </tr>
        {%for t in tasks%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{t.task_name}}</td>
            <td>{{t.user}}</td>
            <td>{{t.status}}</td>
            <td>{{t.created_date}}</td>
        </tr>
        {%endfor%}
    </table>
</div>
{%endblock%}