<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calculator</h1>
    <div><a href="{%url 'add'%}">Addition</a></div>
    <div><a href="{%url 'sub'%}">Subtraction</a></div>
    <div><a href="{%url 'mul'%}">Multiplication</a></div>
    <div><a href="{%url 'div'%}">Division</a></div>
    <div><a href="{%url 'cube'%}">Cube</a></div>
    <div><a href="{%url 'fact'%}">Factorial</a></div>
    <div><a href="{%url 'prime'%}">Prime number</a></div>
    <div><a href="{%url 'armstrong'%}">Armstrong number</a></div>
    <div><a href="{%url 'palindrome'%}">Palindrome</a></div>
    <div><a href="{%url 'evennumber'%}">Even number</a></div>
    <div><a href="{%url 'healthy'%}">Healthy</a></div>
    <div><a href="{%url 'temprature'%}">Temprature</a></div>
    <div><a href="{%url 'exponent'%}">Exponent</a></div>
    <div><a href="{%url 'login'%}">Login</a></div>
    <div><a href="{%url 'registration'%}">Registration</a></div>
    <div><a href="{%url 'geo'%}">Geo</a></div>
</body>
</html>